form { max-width:420px; margin:50px auto; }

.input {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    border:2px solid #0abde3;
    transition: all 0.3s;
    padding: 13px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    margin-bottom: 15px;
  }
  
  [type="submit"] {
    width: 100%;
    background:#0084a1;
    border-radius:5px;
    border:0;
    cursor:pointer;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#0abde3; }
